{% extends 'blabla/base.html' %}
{% load bootstrap3 %}
{% block title %}Подробно{% endblock %}

{% block content %}

  <form class="form">
    {% csrf_token %}
    {% bootstrap_form trip_form exclude='phone' %}
    {% bootstrap_field trip_form.phone label=creator_name %}
  </form>
{% if subscribed %}
  <button class="btn btn-danger" onclick='window.location.href = "{% url 'unsubscribe' trip_id %}"'>Отменить бронирование</button>
{% endif %}
{% if can_subscribe %}
  <button class="btn btn-success" onclick='window.location.href = "{% url 'subscribe' trip_id %}"'>Забронировать</button>
{% endif %}
{% endblock %}
