{% extends 'blabla/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block title %}Редактирование поездки{% endblock %}

{% block content %}

<div class="row">
<div class='col-sm-6'>
<h2>Редактирование поездки</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form trip_form %}
  {% buttons %}
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Список пользователей <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      {% for u in users %}
        <li><a href="#">{{ u.last_name }} {{ u.first_name }}</a></li>
      {% endfor %}
      </ul>
    </div>
    <button type="submit" class="btn btn-primary">
      Сохранить
    </button>
    <a class="btn btn-large btn-danger" data-toggle="confirmation" data-btn-cancel-label="Отмена" data-title="Точно хотите удалить ?"
       href="{% url 'delete_trip' trip_id %}"  data-btn-ok-label="Удалить" >Удалить</a>
  {% endbuttons %}
</form>


</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
   $(function () { $('#datetimepicker12').datetimepicker({locale:'ru'});});
   $('[data-toggle=confirmation]').confirmation();
});

</script>

{% endblock %}
