{% extends 'blabla/base.html' %}
{% load bootstrap3 %}
{% block title %}Редактирование поездки{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
<div class='col-sm-6'>
<h2>Редактирование поездки</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form trip_form %}
  {% buttons %}
    <button type="Сохранить" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
  </div>
</div>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker12').datetimepicker({locale:'ru'});
            });
</script>
{% else %}
  <h2>Login</h2>
<form method="post">
  {% csrf_token %}
    <div class="form-group form.horizontal">
  {{ form.as_p }}
  <button type="Сохранить" class="btn btn-success">Login</button>
</form>
{% endif %}

{% endblock %}
