<!-- templates/home.html-->
{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Home{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Время и дата отправления</th>
      <th scope="col">Из</th>
      <th scope="col">В</th>
      <th scope="col">Свободные места</th>
    </tr>
  </thead>
  <tbody>
  {% for trip in trips %}
  <tr>
    <th scope="row"> {{ trip.datetime }}</th>
    <td> {{ trip.trip_from }}</td>
    <td> {{ trip.trip_to }}</td>
    <td> {{ trip.free_seats }}</td>
    <td><a href='detail/{{ trip.pk }}'>Подробно</a></td>
    {% if user.id == trip.creator %}
    <td><a href='edit/{{ trip.pk }}'>Редактировать</a></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>

  <p>
    <button class="btn " onclick="location.href='create/'">Создать поездку</button>
</p>
{% endblock %}
